@import "tailwindcss";

/* Variables CSS para la aplicación */
:root {
  --foreground: 255, 255, 255;
  --background-start: 0, 0, 0;
  --background-end: 0, 0, 0;
}

@layer base {
  body {
    color: rgb(var(--foreground));
    background: rgb(var(--background-start));
  }

  /* Sobrescribo color y fondo de todos los campos de formulario */
  input,
  textarea,
  select {
    @apply text-gray-900 bg-white;
  }
}

/* Animaciones */
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Altura para gráficos */
.h-64 {
  height: 16rem;
}
